*{
	padding: 0px;
	margin: 0px;

}

#pageTitle {
	color: white;
	font-stretch: expanded;
	letter-spacing: 8px;
	font-size: 50px;
}

#main, .titleBar {
	background: black;
}

#vidPlayer, #main, #pageTitle, .titleBar {
	text-align: center;
	margin: auto;
	padding: auto;
}